---
title: "Simulation Tables_reshape"
author: "SEOYEON CHOI"
date: "2023-05-17"
categories:
  - ITSTGCN
---

> Simulation Tables

# import

In [34]:
import pandas as pd

In [46]:
data_fivenodes = pd.read_csv('./simulation_results/Real_simulation_reshape/fivedones_Simulation.csv')

In [47]:
data_chickenpox = pd.read_csv('./simulation_results/Real_simulation_reshape/chikenpox_Simulation.csv')

In [48]:
data_pedal = pd.read_csv('./simulation_results/Real_simulation_reshape/pedalme_Simulation.csv')

In [49]:
data__wiki = pd.read_csv('./simulation_results/Real_simulation_reshape/wikimath.csv')

In [50]:
data_sindmillsmall = pd.read_csv('./simulation_results/Real_simulation_reshape/windmillsmall.csv')

In [51]:
data_monte = pd.read_csv('./simulation_results/Real_simulation_reshape/monte.csv')

In [52]:
data = pd.concat([data_fivenodes,data_pedal,data__wiki,data_sindmillsmall,data_monte]);data

,dataset,method,mrate,mtype,lags,nof_filters,inter_method,epoch,mse,calculation_time
0,fivenodes,STGCN,0.000000,NaN,2,12,NaN,50,0.729374,80.985221
1,fivenodes,STGCN,0.000000,NaN,2,12,NaN,50,0.729082,80.891788
2,fivenodes,STGCN,0.700000,rand,2,12,linear,50,1.892262,81.976547
3,fivenodes,STGCN,0.700000,rand,2,12,nearest,50,2.211288,87.803869
4,fivenodes,STGCN,0.800000,rand,2,12,linear,50,2.072818,103.648742
...,...,...,...,...,...,...,...,...,...,...
295,monte,IT-STGCN,0.149142,block,4,12,cubic,50,1.045196,457.771223
296,monte,STGCN,0.149142,block,4,12,cubic,50,1.014997,330.451069
297,monte,IT-STGCN,0.149142,block,4,12,cubic,50,1.028830,394.451608
298,monte,STGCN,0.149142,block,4,12,cubic,50,1.050224,401.622916
299,monte,IT-STGCN,0.149142,block,4,12,cubic,50,1.016079,406.771869

# Fivenodes

## Baseline

In [30]:
pd.merge(data.query("dataset=='fivenodes' and mtype!='rand' and mtype!='block'").groupby(['nof_filters','method','lags'])['mse'].mean().reset_index(),
         data.query("dataset=='fivenodes' and mtype!='rand' and mtype!='block'").groupby(['nof_filters','method','lags'])['mse'].std().reset_index(),
         on=['method','nof_filters','lags']).rename(columns={'mse_x':'mean','mse_y':'std'}).round(3)

   nof_filters    method  lags   mean    std
0           12  IT-STGCN     2  0.732  0.005
1           12     STGCN     2  0.732  0.005

## Random

In [31]:
pd.merge(data.query("dataset=='fivenodes' and mtype=='rand'").groupby(['mrate','nof_filters','method','lags'])['mse'].mean().reset_index(),
         data.query("dataset=='fivenodes' and mtype=='rand'").groupby(['mrate','nof_filters','method','lags'])['mse'].std().reset_index(),
         on=['method','nof_filters','mrate','lags']).rename(columns={'mse_x':'mean','mse_y':'std'}).round(3).query("nof_filters==12")

   mrate  nof_filters    method  lags   mean    std
0    0.7           12  IT-STGCN     2  1.167  0.059
1    0.7           12     STGCN     2  2.077  0.252
2    0.8           12  IT-STGCN     2  1.371  0.097
3    0.8           12     STGCN     2  2.432  0.263

## Block

In [ ]:
pd.merge(data.query("dataset=='fivenodes' and mtype=='block'").groupby(['RecurrentGCN','mrate','nof_filters','method'])['mse'].mean().reset_index(),
         data.query("dataset=='fivenodes' and mtype=='block'").groupby(['RecurrentGCN','mrate','nof_filters','method'])['mse'].std().reset_index(),
         on=['RecurrentGCN','method','nof_filters','mrate']).rename(columns={'mse_x':'mean','mse_y':'std'}).round(3)

# ChickenpoxDatasetLoader(lags=4)

## Baseline

In [ ]:
pd.merge(data.query("dataset=='chickenpox' and mtype!='rand' and mtype!='block'").groupby(['nof_filters','method'])['mse'].mean().reset_index(),
         data.query("dataset=='chickenpox' and mtype!='rand' and mtype!='block'").groupby(['nof_filters','method'])['mse'].std().reset_index(),
         on=['method','nof_filters']).rename(columns={'mse_x':'mean','mse_y':'std'}).round(3).query("nof_filters==16")

## Random

In [ ]:
data.query("dataset=='chickenpox' and mtype=='rand'and method=='GNAR'")['mse'].unique().round(3)

In [ ]:
pd.merge(data.query("dataset=='chickenpox' and mtype=='rand'").groupby(['mrate','inter_method','nof_filters','method'])['mse'].mean().reset_index(),
         data.query("dataset=='chickenpox' and mtype=='rand'").groupby(['mrate','inter_method','nof_filters','method'])['mse'].std().reset_index(),
         on=['method','inter_method','mrate','nof_filters']).rename(columns={'mse_x':'mean','mse_y':'std'}).round(3).query("mrate==0.3 and nof_filters==16")

In [ ]:
pd.merge(data.query("dataset=='chickenpox' and mtype=='rand'").groupby(['mrate','inter_method','nof_filters','method'])['mse'].mean().reset_index(),
         data.query("dataset=='chickenpox' and mtype=='rand'").groupby(['mrate','inter_method','nof_filters','method'])['mse'].std().reset_index(),
         on=['method','inter_method','mrate','nof_filters']).rename(columns={'mse_x':'mean','mse_y':'std'}).round(3).query("mrate==0.4 and nof_filters==16")

In [ ]:
pd.merge(data.query("dataset=='chickenpox' and mtype=='rand'").groupby(['mrate','inter_method','nof_filters','method'])['mse'].mean().reset_index(),
         data.query("dataset=='chickenpox' and mtype=='rand'").groupby(['mrate','inter_method','nof_filters','method'])['mse'].std().reset_index(),
         on=['method','inter_method','mrate','nof_filters']).rename(columns={'mse_x':'mean','mse_y':'std'}).round(3).query("mrate==0.5 and nof_filters==16")

In [ ]:
pd.merge(data.query("dataset=='chickenpox' and mtype=='rand'").groupby(['mrate','inter_method','nof_filters','method'])['mse'].mean().reset_index(),
         data.query("dataset=='chickenpox' and mtype=='rand'").groupby(['mrate','inter_method','nof_filters','method'])['mse'].std().reset_index(),
         on=['method','inter_method','mrate','nof_filters']).rename(columns={'mse_x':'mean','mse_y':'std'}).round(3).query("mrate==0.8 and nof_filters==16")

In [ ]:
pd.merge(data.query("dataset=='chickenpox' and mtype=='rand'").groupby(['mrate','inter_method','nof_filters','method'])['mse'].mean().reset_index(),
         data.query("dataset=='chickenpox' and mtype=='rand'").groupby(['mrate','inter_method','nof_filters','method'])['mse'].std().reset_index(),
         on=['method','inter_method','mrate','nof_filters']).rename(columns={'mse_x':'mean','mse_y':'std'}).round(3).query("mrate==0.9 and nof_filters==16")

## Block

In [ ]:
pd.merge(data.query("dataset=='chickenpox' and mtype=='block'").groupby(['RecurrentGCN','inter_method','mrate','nof_filters','method'])['mse'].mean().reset_index(),
         data.query("dataset=='chickenpox' and mtype=='block'").groupby(['RecurrentGCN','inter_method','mrate','nof_filters','method'])['mse'].std().reset_index(),
         on=['RecurrentGCN','method','inter_method','mrate','nof_filters']).rename(columns={'mse_x':'mean','mse_y':'std'})

# PedalMeDatasetLoader (lags=4)

## Baseline

In [8]:
pd.merge(data.query("dataset=='pedalme' and mtype!='rand' and mtype!='block'").groupby(['lags','nof_filters','method'])['mse'].mean().reset_index(),
         data.query("dataset=='pedalme' and mtype!='rand' and mtype!='block'").groupby(['lags','nof_filters','method'])['mse'].std().reset_index(),
         on=['method','lags','nof_filters']).rename(columns={'mse_x':'mean','mse_y':'std'}).round(3).query("lags==4")

   lags  nof_filters    method   mean    std
0     4           12  IT-STGCN  1.233  0.115
1     4           12     STGCN  1.233  0.099

## Random

In [9]:
pd.merge(data.query("dataset=='pedalme' and mtype=='rand'").groupby(['mrate','lags','inter_method','method'])['mse'].mean().reset_index(),
         data.query("dataset=='pedalme' and mtype=='rand'").groupby(['mrate','lags','inter_method','method'])['mse'].std().reset_index(),
         on=['method','mrate','lags','inter_method']).rename(columns={'mse_x':'mean','mse_y':'std'}).round(3)

   mrate  lags inter_method    method   mean    std
0    0.3     4       linear  IT-STGCN  1.354  0.134
1    0.3     4       linear     STGCN  1.575  0.198
2    0.3     4      nearest  IT-STGCN  1.385  0.173
3    0.3     4      nearest     STGCN  1.527  0.342
4    0.6     4       linear  IT-STGCN  1.516  0.211
5    0.6     4       linear     STGCN  1.655  0.179
6    0.6     4      nearest  IT-STGCN  1.625  0.324
7    0.6     4      nearest     STGCN  1.851  0.254

## Block

In [11]:
pd.merge(data.query("dataset=='pedalme' and mtype=='block'").groupby(['mrate','lags','inter_method','method'])['mse'].mean().reset_index(),
         data.query("dataset=='pedalme' and mtype=='block'").groupby(['mrate','lags','inter_method','method'])['mse'].std().reset_index(),
         on=['method','mrate','lags','inter_method']).rename(columns={'mse_x':'mean','mse_y':'std'}).round(3).query("lags==4")

   mrate  lags inter_method    method   mean    std
0  0.286     4       linear  IT-STGCN  1.329  0.131
1  0.286     4       linear     STGCN  1.320  0.111
2  0.286     4      nearest  IT-STGCN  1.289  0.115
3  0.286     4      nearest     STGCN  1.270  0.114

## W_st

In [ ]:
data_pedalme_wst = pd.read_csv('./simulation_results/Real_simulation/pedalme_Simulation_itstgcnsnd.csv')

In [ ]:
pd.merge(data_pedalme_wst.query("mtype=='rand'").groupby(['mrate','lags','inter_method','method'])['mse'].mean().reset_index(),
         data_pedalme_wst.query("mtype=='rand'").groupby(['mrate','lags','inter_method','method'])['mse'].std().reset_index(),
         on=['method','mrate','lags','inter_method']).rename(columns={'mse_x':'mean','mse_y':'std'}).round(3).query("lags==4")

In [ ]:
pd.merge(data_pedalme_wst.query("mtype=='block'").groupby(['mrate','lags','inter_method','method'])['mse'].mean().reset_index(),
         data_pedalme_wst.query("mtype=='block'").groupby(['mrate','lags','inter_method','method'])['mse'].std().reset_index(),
         on=['method','mrate','lags','inter_method']).rename(columns={'mse_x':'mean','mse_y':'std'}).round(3).query("lags==4")

# WikiMathsDatasetLoader (lags=8)

## Baseline

In [54]:
pd.merge(data.query("dataset=='wikimath' and mrate==0").groupby(['lags','nof_filters','method'])['mse'].mean().reset_index(),
         data.query("dataset=='wikimath' and mrate==0").groupby(['lags','nof_filters','method'])['mse'].std().reset_index(),
         on=['lags','nof_filters','method']).rename(columns={'mse_x':'mean','mse_y':'std'}).round(3)

Empty DataFrame
Columns: [mean, lags, nof_filters, method, std]
Index: []

## Random

In [55]:
pd.merge(data.query("dataset=='wikimath' and mtype=='rand'").groupby(['mrate','lags','method'])['mse'].mean().reset_index(),
         data.query("dataset=='wikimath' and mtype=='rand'").groupby(['mrate','lags','method'])['mse'].std().reset_index(),
         on=['method','mrate','lags']).rename(columns={'mse_x':'mean','mse_y':'std'}).round(3)

   mrate  lags    method   mean    std
0    0.3     8  IT-STGCN  0.518  0.002
1    0.3     8     STGCN  0.570  0.006
2    0.8     8  IT-STGCN  0.687  0.021
3    0.8     8     STGCN  0.932  0.043

## Block

In [ ]:
pd.merge(data.query("dataset=='wikimath' and mtype=='block'").groupby(['mrate','lags','method'])['mse'].mean().reset_index(),
         data.query("dataset=='wikimath' and mtype=='block'").groupby(['mrate','lags','method'])['mse'].std().reset_index(),
         on=['method','mrate','lags']).rename(columns={'mse_x':'mean','mse_y':'std'})

## missing values on the same nodes

In [ ]:
data_wikimath_st = pd.read_csv('./simulation_results/Real_simulation/wikimath_GSO_st.csv')

In [ ]:
pd.merge(data_wikimath_st.groupby(['mrate','lags','method'])['mse'].mean().reset_index(),
        data_wikimath_st.groupby(['mrate','lags','method'])['mse'].std().reset_index(),
         on=['method','mrate','lags']).rename(columns={'mse_x':'mean','mse_y':'std'}).round(3)

# WindmillOutputSmallDatasetLoader (lags=8)

## Baseline

In [56]:
pd.merge(data.query("dataset=='windmillsmall' and mrate==0").groupby(['lags','method'])['mse'].mean().reset_index(),
         data.query("dataset=='windmillsmall' and mrate==0").groupby(['lags','method'])['mse'].std().reset_index(),
         on=['method','lags']).rename(columns={'mse_x':'mean','mse_y':'std'}).round(3)

   lags    method   mean  std
0     8  IT-STGCN  1.002  NaN
1     8     STGCN  1.004  NaN

## Random

In [57]:
pd.merge(data.query("dataset=='windmillsmall' and mtype=='rand'").groupby(['mrate','lags','method'])['mse'].mean().reset_index(),
         data.query("dataset=='windmillsmall' and mtype=='rand'").groupby(['mrate','lags','method'])['mse'].std().reset_index(),
         on=['method','mrate','lags']).rename(columns={'mse_x':'mean','mse_y':'std'}).round(3)

Empty DataFrame
Columns: [mean, mrate, lags, method, std]
Index: []

## Block

In [ ]:
pd.merge(data.query("dataset=='windmillsmall' and mtype=='block'").groupby(['mrate','lags','method'])['mse'].mean().reset_index(),
         data.query("dataset=='windmillsmall' and mtype=='block'").groupby(['mrate','lags','method'])['mse'].std().reset_index(),
         on=['method','mrate','lags']).rename(columns={'mse_x':'mean','mse_y':'std'}).round(3)

# Montevideobus (lags=4)

## Baseline

In [59]:
round(data.query("dataset=='monte' and mrate==0")['mse'].mean(),3),round(data_monte.query("mrate==0")['mse'].std(),3)

(0.931, 0.002)

## Random

In [60]:
pd.merge(data.query("dataset=='monte' and mtype=='rand'").groupby(['mrate','lags','inter_method','method'])['mse'].mean().reset_index(),
         data.query("dataset=='monte' and mtype=='rand'").groupby(['mrate','lags','inter_method','method'])['mse'].std().reset_index(),
         on=['mrate','inter_method','method','mrate','lags']).rename(columns={'mse_x':'mean','mse_y':'std'})

   mrate  lags inter_method    method     mean       std
0    0.8     4      nearest  IT-STGCN  1.09556  0.018743
1    0.8     4      nearest     STGCN  1.51600  0.039793

## Block

In [61]:
pd.merge(data.query("dataset=='monte' and mtype=='block'").groupby(['mrate','lags','method'])['mse'].mean().reset_index(),
         data.query("dataset=='monte' and mtype=='block'").groupby(['mrate','lags','method'])['mse'].std().reset_index(),
         on=['method','mrate','lags']).rename(columns={'mse_x':'mean','mse_y':'std'})

      mrate  lags    method      mean       std
0  0.149142     4  IT-STGCN  1.022866  0.021048
1  0.149142     4     STGCN  1.028363  0.031275