---
title: "GConvGRU_Simulation Tables_reshape"
author: "SEOYEON CHOI"
date: "2023-05-17"
categories:
  - ITSTGCN
---

> Simulation Tables

# import

In [33]:
import pandas as pd

In [59]:
data_fivenodes = pd.read_csv('./simulation_results/Real_simulation_reshape/fivedones_Simulation.csv')

In [104]:
data_chickenpox = pd.read_csv('./simulation_results/Real_simulation_reshape/chikenpox_Simulation.csv')

In [61]:
data_pedal = pd.read_csv('./simulation_results/Real_simulation_reshape/pedalme_Simulation.csv')

In [70]:
data_pedal2 = pd.read_csv('./simulation_results/Real_simulation_reshape/pedalme_Simulation_itstgcnsnd.csv')

In [73]:
data__wiki = pd.read_csv('./simulation_results/Real_simulation_reshape/wikimath.csv')

In [113]:
data_windmillsmall = pd.read_csv('./simulation_results/Real_simulation_reshape/windmillsmall.csv')

In [114]:
data_monte = pd.read_csv('./simulation_results/Real_simulation_reshape/monte.csv')

In [115]:
data = pd.concat([data_fivenodes,data_chickenpox,data_pedal,data__wiki,data_windmillsmall,data_monte]);data

,dataset,method,mrate,mtype,lags,nof_filters,inter_method,epoch,mse,calculation_time
0,fivenodes,STGCN,0.000000,NaN,2,12,NaN,50,0.729374,80.985221
1,fivenodes,STGCN,0.000000,NaN,2,12,NaN,50,0.729082,80.891788
2,fivenodes,STGCN,0.700000,rand,2,12,linear,50,1.892262,81.976547
3,fivenodes,STGCN,0.700000,rand,2,12,nearest,50,2.211288,87.803869
4,fivenodes,STGCN,0.800000,rand,2,12,linear,50,2.072818,103.648742
...,...,...,...,...,...,...,...,...,...,...
385,monte,IT-STGCN,0.149142,block,4,12,nearest,50,0.932036,472.003806
386,monte,STGCN,0.149142,block,4,12,nearest,50,0.936046,384.706071
387,monte,IT-STGCN,0.149142,block,4,12,nearest,50,0.933899,449.077441
388,monte,STGCN,0.149142,block,4,12,nearest,50,0.933985,332.606736
389,monte,IT-STGCN,0.149142,block,4,12,nearest,50,0.931460,476.834988

# Fivenodes

## Baseline

In [41]:
pd.merge(data.query("dataset=='fivenodes' and mtype!='rand' and mtype!='block'").groupby(['nof_filters','method','lags'])['mse'].mean().reset_index(),
         data.query("dataset=='fivenodes' and mtype!='rand' and mtype!='block'").groupby(['nof_filters','method','lags'])['mse'].std().reset_index(),
         on=['method','nof_filters','lags']).rename(columns={'mse_x':'mean','mse_y':'std'}).round(3)

   nof_filters    method  lags   mean    std
0           12  IT-STGCN     2  0.732  0.005
1           12     STGCN     2  0.732  0.005

## Random

In [42]:
pd.merge(data.query("dataset=='fivenodes' and mtype=='rand'").groupby(['mrate','nof_filters','method','lags'])['mse'].mean().reset_index(),
         data.query("dataset=='fivenodes' and mtype=='rand'").groupby(['mrate','nof_filters','method','lags'])['mse'].std().reset_index(),
         on=['method','nof_filters','mrate','lags']).rename(columns={'mse_x':'mean','mse_y':'std'}).round(3).query("nof_filters==12")

   mrate  nof_filters    method  lags   mean    std
0    0.7           12  IT-STGCN     2  1.167  0.059
1    0.7           12     STGCN     2  2.077  0.252
2    0.8           12  IT-STGCN     2  1.371  0.097
3    0.8           12     STGCN     2  2.432  0.263

## Block

In [43]:
pd.merge(data.query("dataset=='fivenodes' and mtype=='block'").groupby(['mrate','nof_filters','method'])['mse'].mean().reset_index(),
         data.query("dataset=='fivenodes' and mtype=='block'").groupby(['mrate','nof_filters','method'])['mse'].std().reset_index(),
         on=['method','nof_filters','mrate']).rename(columns={'mse_x':'mean','mse_y':'std'}).round(3)

   mrate  nof_filters    method   mean    std
0  0.125           12  IT-STGCN  1.160  0.042
1  0.125           12     STGCN  1.215  0.036

# ChickenpoxDatasetLoader(lags=4)

## Baseline

In [108]:
pd.merge(data.query("dataset=='chickenpox' and mtype!='rand' and mtype!='block'").groupby(['nof_filters','method'])['mse'].mean().reset_index(),
         data.query("dataset=='chickenpox' and mtype!='rand' and mtype!='block'").groupby(['nof_filters','method'])['mse'].std().reset_index(),
         on=['method','nof_filters']).rename(columns={'mse_x':'mean','mse_y':'std'}).round(3).query("nof_filters==16")

   nof_filters    method   mean    std
0           16  IT-STGCN  0.752  0.013
1           16     STGCN  0.752  0.012

## Random

In [109]:
pd.merge(data.query("dataset=='chickenpox' and mtype=='rand'").groupby(['mrate','inter_method','nof_filters','method'])['mse'].mean().reset_index(),
         data.query("dataset=='chickenpox' and mtype=='rand'").groupby(['mrate','inter_method','nof_filters','method'])['mse'].std().reset_index(),
         on=['method','inter_method','mrate','nof_filters']).rename(columns={'mse_x':'mean','mse_y':'std'}).round(3)

   mrate inter_method  nof_filters    method   mean    std
0    0.3       linear           16  IT-STGCN  0.851  0.031
1    0.3       linear           16     STGCN  1.087  0.046
2    0.8       linear           16  IT-STGCN  1.586  0.199
3    0.8       linear           16     STGCN  2.529  0.292

## Block

In [110]:
pd.merge(data.query("dataset=='chickenpox' and mtype=='block'").groupby(['inter_method','mrate','nof_filters','method'])['mse'].mean().reset_index(),
         data.query("dataset=='chickenpox' and mtype=='block'").groupby(['inter_method','mrate','nof_filters','method'])['mse'].std().reset_index(),
         on=['method','inter_method','mrate','nof_filters']).rename(columns={'mse_x':'mean','mse_y':'std'})

  inter_method    mrate  nof_filters    method      mean       std
0       linear  0.28777           16  IT-STGCN  0.807041  0.016362
1       linear  0.28777           16     STGCN  0.828224  0.021919
2      nearest  0.28777           16  IT-STGCN  0.823756  0.022918
3      nearest  0.28777           16     STGCN  0.828498  0.022007

# PedalMeDatasetLoader (lags=4)

## Baseline

In [47]:
pd.merge(data.query("dataset=='pedalme' and mtype!='rand' and mtype!='block'").groupby(['lags','nof_filters','method'])['mse'].mean().reset_index(),
         data.query("dataset=='pedalme' and mtype!='rand' and mtype!='block'").groupby(['lags','nof_filters','method'])['mse'].std().reset_index(),
         on=['method','lags','nof_filters']).rename(columns={'mse_x':'mean','mse_y':'std'}).round(3).query("lags==4")

   lags  nof_filters    method   mean    std
0     4           12  IT-STGCN  1.233  0.115
1     4           12     STGCN  1.233  0.099

## Random

In [48]:
pd.merge(data.query("dataset=='pedalme' and mtype=='rand'").groupby(['mrate','lags','inter_method','method'])['mse'].mean().reset_index(),
         data.query("dataset=='pedalme' and mtype=='rand'").groupby(['mrate','lags','inter_method','method'])['mse'].std().reset_index(),
         on=['method','mrate','lags','inter_method']).rename(columns={'mse_x':'mean','mse_y':'std'}).round(3)

   mrate  lags inter_method    method   mean    std
0    0.3     4       linear  IT-STGCN  1.354  0.134
1    0.3     4       linear     STGCN  1.575  0.198
2    0.3     4      nearest  IT-STGCN  1.385  0.173
3    0.3     4      nearest     STGCN  1.527  0.342
4    0.6     4       linear  IT-STGCN  1.516  0.211
5    0.6     4       linear     STGCN  1.655  0.179
6    0.6     4      nearest  IT-STGCN  1.625  0.324
7    0.6     4      nearest     STGCN  1.851  0.254

## Block

In [49]:
pd.merge(data.query("dataset=='pedalme' and mtype=='block'").groupby(['mrate','lags','inter_method','method'])['mse'].mean().reset_index(),
         data.query("dataset=='pedalme' and mtype=='block'").groupby(['mrate','lags','inter_method','method'])['mse'].std().reset_index(),
         on=['method','mrate','lags','inter_method']).rename(columns={'mse_x':'mean','mse_y':'std'}).round(3).query("lags==4")

   mrate  lags inter_method    method   mean    std
0  0.286     4       linear  IT-STGCN  1.329  0.131
1  0.286     4       linear     STGCN  1.320  0.111
2  0.286     4      nearest  IT-STGCN  1.289  0.115
3  0.286     4      nearest     STGCN  1.270  0.114

## W_st

In [71]:
pd.merge(data_pedal2.query("mtype=='rand'").groupby(['mrate','lags','inter_method','method'])['mse'].mean().reset_index(),
         data_pedal2.query("mtype=='rand'").groupby(['mrate','lags','inter_method','method'])['mse'].std().reset_index(),
         on=['method','mrate','lags','inter_method']).rename(columns={'mse_x':'mean','mse_y':'std'}).round(3).query("lags==4")

   mrate  lags inter_method    method   mean    std
0    0.3     4       linear  IT-STGCN  1.270  0.163
1    0.3     4       linear     STGCN  1.556  0.264
2    0.3     4      nearest  IT-STGCN  1.324  0.163
3    0.3     4      nearest     STGCN  1.520  0.206
4    0.6     4       linear  IT-STGCN  1.434  0.222
5    0.6     4       linear     STGCN  1.678  0.211
6    0.6     4      nearest  IT-STGCN  1.410  0.208
7    0.6     4      nearest     STGCN  1.771  0.220

In [72]:
pd.merge(data_pedal2.query("mtype=='block'").groupby(['mrate','lags','inter_method','method'])['mse'].mean().reset_index(),
         data_pedal2.query("mtype=='block'").groupby(['mrate','lags','inter_method','method'])['mse'].std().reset_index(),
         on=['method','mrate','lags','inter_method']).rename(columns={'mse_x':'mean','mse_y':'std'}).round(3).query("lags==4")

   mrate  lags inter_method    method   mean    std
0  0.286     4       linear  IT-STGCN  1.391  0.151
1  0.286     4       linear     STGCN  1.420  0.110
2  0.286     4      nearest  IT-STGCN  1.361  0.114
3  0.286     4      nearest     STGCN  1.430  0.145

# WikiMathsDatasetLoader (lags=8)

## Baseline

In [77]:
pd.merge(data.query("dataset=='wikimath' and mrate==0").groupby(['lags','nof_filters','method'])['mse'].mean().reset_index(),
         data.query("dataset=='wikimath' and mrate==0").groupby(['lags','nof_filters','method'])['mse'].std().reset_index(),
         on=['lags','nof_filters','method']).rename(columns={'mse_x':'mean','mse_y':'std'}).round(3)

   lags  nof_filters    method   mean    std
0     8           12  IT-STGCN  0.529  0.003
1     8           12     STGCN  0.528  0.003

## Random

In [78]:
pd.merge(data.query("dataset=='wikimath' and mtype=='rand'").groupby(['mrate','lags','method'])['mse'].mean().reset_index(),
         data.query("dataset=='wikimath' and mtype=='rand'").groupby(['mrate','lags','method'])['mse'].std().reset_index(),
         on=['method','mrate','lags']).rename(columns={'mse_x':'mean','mse_y':'std'}).round(3)

   mrate  lags    method   mean    std
0    0.3     8  IT-STGCN  0.518  0.002
1    0.3     8     STGCN  0.570  0.006
2    0.8     8  IT-STGCN  0.687  0.021
3    0.8     8     STGCN  0.932  0.043

## Block

In [79]:
pd.merge(data.query("dataset=='wikimath' and mtype=='block'").groupby(['mrate','lags','method'])['mse'].mean().reset_index(),
         data.query("dataset=='wikimath' and mtype=='block'").groupby(['mrate','lags','method'])['mse'].std().reset_index(),
         on=['method','mrate','lags']).rename(columns={'mse_x':'mean','mse_y':'std'})

     mrate  lags    method      mean       std
0  0.09587     8  IT-STGCN  0.529440  0.003820
1  0.09587     8     STGCN  0.544176  0.010772

## missing values on the same nodes

In [25]:
data_wikimath_st = pd.read_csv('./simulation_results/Real_simulation_reshape/wikimath_GSO_st.csv')

In [ ]:
pd.merge(data_wikimath_st.groupby(['mrate','lags','method'])['mse'].mean().reset_index(),
        data_wikimath_st.groupby(['mrate','lags','method'])['mse'].std().reset_index(),
         on=['method','mrate','lags']).rename(columns={'mse_x':'mean','mse_y':'std'}).round(3)

# WindmillOutputSmallDatasetLoader (lags=8)

## Baseline

In [116]:
pd.merge(data.query("dataset=='windmillsmall' and mrate==0").groupby(['lags','method'])['mse'].mean().reset_index(),
         data.query("dataset=='windmillsmall' and mrate==0").groupby(['lags','method'])['mse'].std().reset_index(),
         on=['method','lags']).rename(columns={'mse_x':'mean','mse_y':'std'}).round(3)

   lags    method   mean    std
0     8  IT-STGCN  1.003  0.005
1     8     STGCN  1.003  0.005

## Random

In [117]:
pd.merge(data.query("dataset=='windmillsmall' and mtype=='rand'").groupby(['mrate','lags','method'])['mse'].mean().reset_index(),
         data.query("dataset=='windmillsmall' and mtype=='rand'").groupby(['mrate','lags','method'])['mse'].std().reset_index(),
         on=['method','mrate','lags']).rename(columns={'mse_x':'mean','mse_y':'std'}).round(3)

   mrate  lags    method   mean    std
0    0.7     8  IT-STGCN  1.182  0.044
1    0.7     8     STGCN  1.658  0.068

## Block

In [118]:
pd.merge(data.query("dataset=='windmillsmall' and mtype=='block'").groupby(['mrate','lags','method'])['mse'].mean().reset_index(),
         data.query("dataset=='windmillsmall' and mtype=='block'").groupby(['mrate','lags','method'])['mse'].std().reset_index(),
         on=['method','mrate','lags']).rename(columns={'mse_x':'mean','mse_y':'std'}).round(3)

Empty DataFrame
Columns: [mean, mrate, lags, method, std]
Index: []

# Montevideobus (lags=4)

## Baseline

In [100]:
pd.merge(data.query("dataset=='monte' and mrate==0").groupby(['lags','method'])['mse'].mean().reset_index(),
         data.query("dataset=='monte' and mrate==0").groupby(['lags','method'])['mse'].std().reset_index(),
         on=['method','lags']).rename(columns={'mse_x':'mean','mse_y':'std'}).round(3)

   lags    method   mean    std
0     4  IT-STGCN  0.931  0.001
1     4     STGCN  0.931  0.002

## Random

In [101]:
pd.merge(data.query("dataset=='monte' and mtype=='rand'").groupby(['mrate','lags','inter_method','method'])['mse'].mean().reset_index(),
         data.query("dataset=='monte' and mtype=='rand'").groupby(['mrate','lags','inter_method','method'])['mse'].std().reset_index(),
         on=['mrate','inter_method','method','mrate','lags']).rename(columns={'mse_x':'mean','mse_y':'std'})

   mrate  lags inter_method    method     mean       std
0    0.8     4      nearest  IT-STGCN  1.09556  0.018743
1    0.8     4      nearest     STGCN  1.51600  0.039793

## Block

In [102]:
pd.merge(data.query("dataset=='monte' and mtype=='block'").groupby(['mrate','lags','inter_method','method'])['mse'].mean().reset_index(),
         data.query("dataset=='monte' and mtype=='block'").groupby(['mrate','lags','inter_method','method'])['mse'].std().reset_index(),
         on=['method','mrate','inter_method','lags']).rename(columns={'mse_x':'mean','mse_y':'std'})

      mrate  lags inter_method    method      mean       std
0  0.149142     4        cubic  IT-STGCN  1.022866  0.021048
1  0.149142     4        cubic     STGCN  1.028363  0.031275
2  0.149142     4       linear  IT-STGCN  0.930156  0.001956
3  0.149142     4       linear     STGCN  0.934719  0.004724
4  0.149142     4      nearest  IT-STGCN  0.931785  0.002158
5  0.149142     4      nearest     STGCN  0.934596  0.003562